.btn {
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        /* transition needs to happen in the initial state */
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
    }
    &:hover {
        transform: translateY(-3px);
        /* use rgba to get colour transparency */
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &::after {
            /* increases the size of the element */
            transform: scaleX(1.4) scaleY(1.6);
            /* sets something to invisible */
            opacity: 0;
        }
    }
    
    &:active {
        /* related to initial link state */
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    
    &::after {
        /* specify content otherwise styling wont appear */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0; 
        left: 0;
        /* defines the position of the btn */
        z-index: -1;
        /* set transition in the initial state of the button before hover */
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        /* moveInBottom styles are applied before animation starts: */
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}